.js-sections-list.section-list
      .section-body
        .section.active(js-step='0')
          .num 01
          .title Home
        .section(js-step='1')
          .num 02
          .title Benefits
        .section(js-step='2')
          .num 03
          .title Solutions
        .section(js-step='3')
          .num 04
          .title Team