.section.section1(js-data-id='1', js-data-number='01', js-data-title='Home')
        .start.js-data-content.email-section
          .email-container
            p.encrypted Encrypted email
            h3.secure-rem Secure Remote Password PROTOCOL 
            p.secure-remote Secure Remote Password protocol brings web-applications security to the next level as no password data is sent to the server. Only the end user has access to this crucial piece of information. The fact that the password is never sent to and never stored on the server makes it possible to use the same password for both authenticating the user and encrypting the user's data within the end-to-end encrypted communication.
            div.email-button__get
              a GET YOUR ACCOUNT NOW


      .section(js-data-id='2', js-data-number='02', js-data-title='Benefits')
        .benefits.js-data-content
          .email-container__last
            p.encrypted__last-page Encrypted Calendar
            .search-file
              .search-email.search-file__item
                img(src="img/icon.png", alt="")
                p.search-file__title Search emails
                p.search-file__sub You can easily search emails by subject and/or sender. You will not be able to search any amount of text within the email body as this is encrypted.
              .file-integration.search-file__item
                img(src="img/icon.png", alt="")                
                p.search-file__title File Integration
                p.search-file__sub Email attachments can be saved directly to the SSD File Storage and files from the storage can be attached to the emails so you don't have to download them first.
            div.email-button__get.email-email-S_E_4__button
              a GET YOUR ACCOUNT NOW
          
          