.section.section1(js-data-id='1', js-data-number='01', js-data-title='')
        .start.js-data-content.email-section
          .email-container
            p.encrypted Encrypted email
            h3.secure-rem Secure Remote Password PROTOCOL 
            p.secure-remote Secure Remote Password protocol brings web-applications security to the next level as no password data is sent to the server. Only the end user has access to this crucial piece of information. The fact that the password is never sent to and never stored on the server makes it possible to use the same password for both authenticating the user and encrypting the user's data within the end-to-end encrypted communication.
            div.email-button__get
              a GET YOUR ACCOUNT NOW
          
          