.section(js-data-id='2', js-data-number='02', js-data-title='')
    .benefits.js-data-content
        .email-container__last
            p.encrypted__last-page Encrypted Calendar
            .search-file
                .search-email.search-file__item
                    img(src="img/icon.png", alt="")
                    p.search-file__title Search emails
                    p.search-file__sub You can easily search emails by subject and/or sender. You will not be able to search any amount of text within the email body as this is encrypted.
                .file-integration.search-file__item
                    img(src="img/icon.png", alt="")
                    p.search-file__title File Integration
                    p.search-file__sub Email attachments can be saved directly to the SSD File Storage and files from the storage can be attached to the emails so you don't have to download them first.
            div.email-button__get.email-email-S_E_4__button
                a GET YOUR ACCOUNT NOW