.section(js-data-id='1', js-data-number='01', js-data-title='Solutions')
    .email-container.section3-email.js-data-content
        p.encrypted Encrypted email
        h3.secure-rem Encrypted email for everyone
        p.secure-remote
            | Take advantage of making your email communications secure
            br
            | with easy to use end-to-end encryption.
        p.choose-y Choose your preferable domain among the 30 available:
        .wrap-list
            .list-section3
                p.section3__title PERSONAL
                ul.section3__ul
                    li.section3__item
                        a(href='') ssdemail.ch
                    li.section3__item
                        a(href='') ssdemail.com
                    li.section3__item
                        a(href='') ssdmail.ch
                    li.section3__item
                        a(href='') ssdmail.eu
                    li.section3__item
                        a(href='') ssdmail.us
                    li.section3__item
                        a(href='') swissliberty.eu
                    li.section3__item
                        a(href='') secureswiss.email
                    li.section3__item
                        a(href='') secureswiss.eu
                    li.section3__item
                        a(href='') secureswiss.net
                    li.section3__item
                        a(href='') secureswissmail.ch
                    li.section3__item
                        a(href='') secureswissmail.com
                    li.section3__item
                        a(href='') swisssecuremail.com
            .list-section3
                p.section3__title LEGAL
                ul.section3__ul
                    li.section3__item
                        a(href='') securelegal.ch
                    li.section3__item
                        a(href='') securelegal.eu
                    li.section3__item
                        a(href='') securelegal.us
                p.section3__title.media-title MEDIA
                ul.section3__ul
                    li.section3__item
                        a(href='') securejournalist.ch
                    li.section3__item
                        a(href='') securejournalist.eu
                    li.section3__item
                        a(href='') securejournalist.us
                    li.section3__item
                        a(href='') securemedia.ch
                    li.section3__item
                        a(href='') securepress.ch
                    li.section3__item
                        a(href='') securepress.us
            .list-section3
                p.section3__title MEDICAL
                ul.section3__ul
                    li.section3__item
                        a(href='') securemedical.eu
                    li.section3__item
                        a(href='') securecare.us
                    li.section3__item
                        a(href='') securemed.us
                    li.section3__item
                        a(href='') securedoctor.eu
                p.section3__title.media-title CORPORATE
                ul.section3__ul
                    li.section3__item
                        a(href='') securebusiness.eu
                    li.section3__item
                        a(href='') securebiz.us
                    li.section3__item
                        a(href='') securework.us
                    li.section3__item
                        a(href='') securetrade.eu
                    li.section3__item
                        a(href='') securedeal.us
        img.section3-monitor(src='img/reg.png', alt='')
        .email-button__get
            a GET YOUR ACCOUNT NOW
