ul.app-fixed.hidden-sm
    li
      a.btn0.btn-block(href='javascript:;')
        span.mac
        | Get iOS app
    li
      a.btn0.btn-block(href='javascript:;')
        span.android
        | Get Android app