.footer
  ul.foot
    li.foot-item
      .foot-title Secure Swiss Data
      ul
        li
          a(href='javascript:;') Pricing
        li
          a(href='javascript:;') Donate
        li
          a(href='javascript:;') Why choose us
        li
          a(href='javascript:;') Team
        li.current
          a(href='javascript:;') Become a Partner
    li.foot-item
      .foot-title Solutions
      ul
        li
          a(href='javascript:;') Encrypted email
        li
          a(href='javascript:;') Encrypted calendar
        li
          a(href='javascript:;') Encrypted file storage
        li
          a(href='javascript:;') Encrypted tasks
        li
          a(href='javascript:;') Encrypted notes
    li.foot-item
      .foot-title Company
      ul
        li
          a(href='javascript:;') Support
        li
          a(href='javascript:;') Contact
        li
          a(href='javascript:;') FAQ
        li
          a(href='javascript:;') UserVoice
        li
          a(href='javascript:;') Knowledge base
    li.foot-item
      .foot-title Social
      ul
        li
          a(href='javascript:;') Facebook
        li
          a(href='javascript:;') LinkedIn
        li
          a(href='javascript:;') Google +
        li
          a(href='javascript:;') Twitter
        li
          a(href='javascript:;') YouTube
    li.foot-item
      .foot-title Apps
      ul
        li
          a(href='javascript:;') iOS app
        li
          a(href='javascript:;') Android app
      #foot-item
    li.foot-item
      #foot-child
        .foot-title Legal
        ul
          li
            a(href='javascript:;') Terms & Conditions
          li
            a(href='javascript:;') Privacy policy
          li
            a(href='javascript:;') Cookies policy
  .copyright Copyright ©2016-2018 Secure Swiss Data. All rights reserved.