meta(charset='UTF-8')
title Document
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
link(rel='stylesheet', href='css/jquery.fullpage.min.css')
link(rel='stylesheet', href='css/style.css')
script(type='text/javascript', src='js/jquery.js')
script(type='text/javascript', src='js/jquery.fullpage.min.js')
script(type='text/javascript', src='js/scrolloverflow.min.js')
script(type='text/javascript', src='js/swiper.min.js')
script(type='text/javascript', src='js/slider.js')
script(type='text/javascript', src='js/common.js')