.navbar
  .navbar-logo
    a(href='javascript:;')
      img(src='img/logo.svg', alt='')
  .navbar-toggle
    span
  .navbar-nav
    ul.form
      li
        a.btn0.btn-block(href='javascript:;') LOGIN
      li
        a.btn1.btn-block(href='javascript:;') SIGN UP
    ul.nav
      li.nav-item.current
        a(href='javascript:;') Home
      li.nav-item
        a(href='javascript:;') Solutions
      li.nav-item
        a(href='javascript:;') Why choose us
      li.nav-item
        a(href='javascript:;') Pricing
      li.nav-item
        a(href='javascript:;') Support
      li.nav-item
        a(href='javascript:;') Knowledge base
    .navbar-social
      ul
        li
          a(href='javascript:;')
            img(src='img/social1.svg', alt='')
            | Facebook
        li
          a(href='javascript:;')
            img(src='img/social2.svg', alt='')
            | LinkedIn
        li
          a(href='javascript:;')
            img(src='img/social3.svg', alt='')
            | Google +
        li
          a(href='javascript:;')
            img(src='img/social4.svg', alt='')
            | Twitter
        li
          a(href='javascript:;')
            img(src='img/social5.svg', alt='')
            | YouTube