.js-main-background.main-backgrounds
  .bg.active(js-data-id='1')
  .bg(js-data-id='2')
  .bg(js-data-id='3')
  .bg(js-data-id='4')
  .bg(js-data-id='5')
.js-sections-list.section-list
  .section-body
    .section.active(js-step='0')
      .num 01
      .title Home
    .section(js-step='1')
      .num 02
      .title Benefits
    .section(js-step='2')
      .num 03
      .title Solutions
    .section(js-step='3')
      .num 04
      .title Team
    .section(js-step='4')
      .num 05
      .title News