.social-fixed.hidden-sm
  ul
    li
      a(href='javascript:;')
        img(src='img/social1.svg', alt='')
        span Facebook
    li
      a(href='javascript:;')
        img(src='img/social2.svg', alt='')
        span LinkedIn
    li
      a(href='javascript:;')
        img(src='img/social3.svg', alt='')
        span Google +
    li
      a(href='javascript:;')
        img(src='img/social4.svg', alt='')
        span Twitter
    li
      a(href='javascript:;')
        img(src='img/social5.svg', alt='')
        span YouTube