doctype html
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='css/main.css')
  body
    include includes/header 
    .wrap
      .support-container
        .support-left
          h1 SUPPORT
          .support-sales
            .support-sales__item
              img(src="/")
              .item-text__wrap
                p.support__title SUPPORT
                p.support__sub-title support@secureswissdata.com
            .support-sales__item
              img(src="/")
              .item-text__wrap
                p.support__title SALES 
                p.support__sub-title sales@secureswissdata.com
        .support-right
          .support-right__form
            p.support-form__title Enquiry Form
            p.support-form__sub-title Haven’t found an answer to your issue in FAQ? Contact Support via email or the form below.



    include includes/footer
