doctype html
html(lang='en')
  head
    include includes/head
    link(rel="stylesheet", href="css/email.css")
  body.body-email
    include includes/homePage/main-backgrount
    include includes/email/section_list
    include includes/header 
    .wrap
      include includes/email/section1-2
      include includes/email/section3    
      .section.section4.last-section(js-data-id='5', js-data-number='05', js-data-title='News')
        .news.js-data-content
          .news-left
            h2 Online Privacy Tips & News
            .news-slider
              .js-news
                .swiper-wrapper
                  .swiper-slide
                    .item
                      .item-photo(style="background-image: url('files/2.jpg')")
                      .item-content
                        h3 Photographs are a way
                        | 											Flashy array of photo which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. […] children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari. However, the innovation of home photo printing is bringing about a new way of preserving our most precious memories. Not only do we have digital copies to keep with us for the rest of our days across hundreds of different archives, thanks to printer manufacturers such as Epson, Hewlett Packard, and Canon, we now have the ability to fill our photo albums, right from the comfort of our living rooms. Whether it is Hewlett Packard with the award winning Photosmart 8250, Canon.
                  .swiper-slide
                    .item
                      .item-photo(style="background-image: url('files/2.jpg')")
                      .item-content
                        h3 Photographs are a way
                        | 											Flashy array of photo which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. […] children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari. However, the innovation of home photo printing is bringing about a new way of preserving our most precious memories. Not only do we have digital copies to keep with us for the rest of our days across hundreds of different archives, thanks to printer manufacturers such as Epson, Hewlett Packard, and Canon, we now have the ability to fill our photo albums, right from the comfort of our living rooms. Whether it is Hewlett Packard with the award winning Photosmart 8250, Canon.
                  .swiper-slide
                    .item
                      .item-photo(style="background-image: url('files/2.jpg')")
                      .item-content
                        h3 Photographs are a way
                        | 											Flashy array of photo which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. […] children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari. However, the innovation of home photo printing is bringing about a new way of preserving our most precious memories. Not only do we have digital copies to keep with us for the rest of our days across hundreds of different archives, thanks to printer manufacturers such as Epson, Hewlett Packard, and Canon, we now have the ability to fill our photo albums, right from the comfort of our living rooms. Whether it is Hewlett Packard with the award winning Photosmart 8250, Canon.
                  .swiper-slide
                    .item
                      .item-photo(style="background-image: url('files/2.jpg')")
                      .item-content
                        h3 Photographs are a way
                        | 											Flashy array of photo which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. […] children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari. However, the innovation of home photo printing is bringing about a new way of preserving our most precious memories. Not only do we have digital copies to keep with us for the rest of our days across hundreds of different archives, thanks to printer manufacturers such as Epson, Hewlett Packard, and Canon, we now have the ability to fill our photo albums, right from the comfort of our living rooms. Whether it is Hewlett Packard with the award winning Photosmart 8250, Canon.
                .news-pagination
          include includes/homePage/news-right.jade
        include includes/footer
    include includes/social
    include includes/app    
