doctype html
html(lang='en')
  head
    include includes/head
    link(rel="stylesheet", href="css/email.css")
  body.body-email
    include includes/homePage/main-backgrount
    include includes/email/section_list
    include includes/header 
    .wrap
      include includes/email/section1
      include includes/email/section2
      include includes/email/section3
      .section.section4.last-section.section(js-data-id='3', js-data-number='03', js-data-title='')
        .news.js-data-content
                .news-pagination
        include includes/footer
    include includes/social
    include includes/app    
