.section-list {
    z-index: 99;
}

.fp-tableCell {
    vertical-align: top;
}

.section {
    background-image: url(../img/backsection1.png);    
    background-size: cover;
}

.email-container__last {
    margin-top: 176px;
}

.encrypted {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
    text-transform: uppercase;
}

.choose-y {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
    margin-top: 53px;
}

.section3__item {
    margin-left: 29px;    
}

.wrap-list {
    display: flex;
}

.media-title {
    margin-top: 20px;
}

.section3__item a {
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #afafaf;
    text-decoration: none;
}

.section3__ul {
    display: flex;
    flex-direction: column;
    width: 205px;
    list-style: disc;
}

.section3__title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #afafaf;
    padding-bottom: 10px
}

.wrap-list {
    margin-top: 20px;
}

.email-container {
    position: relative;
    padding-left: 128px;
    margin-top: 176px;
}

.secure-rem {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #e1001c;
    padding-top: 20px;
    padding-bottom: 25px;
}

.secure-remote {
    padding-left: 10px;
    width: 675px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
    border-left: 2px solid #e1001c;
}


.email-button__get {
    margin-top: 55px;
    width: 279px;
    height: 45px;
    border-radius: 2px;
    background-color: #e1001c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-button__get a {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.search-file {
    display: flex;
    justify-content: center;
}

.search-file__item {
    margin-top: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-file__item img {
    width: 160px;
}

.search-file__title {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fafafa;
    padding-top: 45px;
    padding-bottom: 24px;
}

.search-file__sub {
    width: 287px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fafafa;
}

.search-email {
    padding-right: 86px;
}

.file-integration {
    padding-left: 122px;
}

.encrypted__last-page {
    padding-left: 128px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
    text-transform: uppercase;
}

.section1 {
    background-image: url(../img/backsection1.png);
}

.email-email-S_E_4__button {
    margin: auto;
    margin-top: 90px;
}

.section-list .section {
    background: transparent;
}

.email-monitor {
    position: absolute;
    width: 962px;
    height: 770px;
    right: 125px;
    top: 85px;
}


@media (max-width: 1440px) {
    .email-monitor {
        position: absolute;
        width: 862px;
        height: 670px;
        right: 0;
        top: 158px;
    }

    .search-file {
        margin-top: 84px;
    }

    .search-file__title {
        padding-top: 22px;
    }

    .search-file__item {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {
    .email-monitor {
        position: absolute;
        width: 662px;
        height: 513px;
        right: 46px;
        top: 291px;
    }
}

@media (max-width: 768px) {
    .search-file__item {
        margin-top: 0;
    }

    .email-monitor {
        position: absolute;
        width: 637px;
        height: 468px;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 371px;
    }

    .email-container {
        margin-top: 147px;
        padding-left: 40px;
    }

    .secure-rem {
        width: 525px;
    }

    .secure-remote {
        width: 525px;
    }

    .search-email {
        padding: 0;
    }

    .file-integration {
        padding: 0;
        margin-top: 50px;
    }

    .search-file {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-file__item img {
        width: 133px;
    }

    .email-email-S_E_4__button {
        margin-top: 45px;
    }

    .search-file {
        margin-top: 70px;
    }

    .email-container__last {
        padding-bottom: 20%;
    }

    .encrypted__last-page {
        padding-left: 40px;
    }
}


@media (max-width: 480px) {
    .email-monitor {
        position: absolute;
        width: 300px;
        height: 250px;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 584px;
    }

    .section3__title {
        margin-top: 20px;
    }

    .section3-email {
        padding-top: 100px !important;
    }

    .email-container {
        margin-top: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .secure-rem {
        text-align: center;
        font-size: 18px;
        padding-top: 18px;
        padding-bottom: 20px;
        width: 265px;
    }

    .secure-remote {
        width: 219px;
        border: none;
        padding: 0;
        text-align: center;
    }

    .email-button__get {
        margin-top: 30px;
        width: 200px;
        height: 45px;
    }

    .email-button__get a {
        font-size: 14px;
    }

    .email-container__last {
        margin-top: 90px;
    }

    .encrypted__last-page {
        padding: 0;
        text-align: center;
        font-size: 18px;
    }

    .encrypted {
        font-size: 14px;
    }

    .wrap-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .choose-y {
        margin-top: 40px;
        width: 226px;
        text-align: center;
    }
    
    .search-file {
        margin-top: 30px;
    }

    .search-file__title {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }

    .search-file__item img {
        width: 105px;
    }

    .search-file__sub {
        width: 217px;
        font-size: 14px;
        text-align: center;
    }

    .file-integration {
        margin-top: 39px;
    }
}

.section .title {
    display: none !important;
}