.support-container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10%; }

.support-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .support-left h1 {
    width: 169px;
    height: 49px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e1001c; }

.support-sales {
  padding-top: 172px;
  padding-left: 155px; }

.support-sales__item {
  display: -ms-flexbox;
  display: flex; }

.support__title {
  font-size: 18px;
  color: #ffffff; }

.item-text__wrap {
  margin-top: 26px; }

.support__sub-title {
  width: 241px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #e1001c; }
