.support-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
}

.support-left {
    display: flex;
    flex-direction: column;
    h1 {
        width: 169px;
        height: 49px;
        // font-family: 'OpenSans';
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e1001c;
    }
}

.support-sales {
  padding-top: 172px;
  padding-left: 155px;
}

.support-sales__item {
  display: flex;
}

.support__title {
  font-size: 18px;
  color: #ffffff;
}

.item-text__wrap {
  margin-top: 26px;
}

.support__sub-title {
  width: 241px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #e1001c;
}