.container-support {
    padding-top: 100px;
    height: calc(100% - 291px);
  }
  
  .support-container {
    margin: 0 auto;
    width: 86%;
  }
  
  .support-left h1 {
    margin-top: 56px;
  }
  
  .support-body {
    background-image: url(../../img/bitmap.png);
    background-size: 75%;
    background-position: 17% 46%;
    background-repeat: no-repeat;
  }
  
  .support-sales__item {
    margin-top: 26px;
  }
  
  .item-text__wrap {
    padding-left: 12px;
  }
  
  .support-right {
    padding-right: 19%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 320px;
  }
  
  .support-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .support-form__title {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
  }
  
  .support-form__sub-title {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 25px;
  }
  
  .support-form {
    input {
      background: none;
      width: 320px;
      height: 42px;
      border-radius: 5px;
      border: solid 1px #fafafa;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #aaaaaa;
      padding-left: 20px;
    }
    textarea {
      background: none;
      width: 320px;
      height: 91px;
      border-radius: 5px;
      border: solid 1px #fafafa;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #aaaaaa;
      padding-left: 20px;
      padding-top: 12px;
    }
    button {
      width: 188px;
      height: 42px;
      border-radius: 5px;
      background-color: #e1001c;
      border: none;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      text-align: left;
      color: #ffffff;
      text-align: center;
    }
  }
  
  @media (max-height: 885px) {
    .container-support {
      height: 100%;
    }
  }
  
  @media (max-width: 1440px) and (min-width: 1025px) {
    .support-body {
      background-size: 83%;
      background-position: -15% -6%;
    }
    .support-sales {
      padding-top: 123px;
      padding-left: 107px;
    }
  }
  
  @media (max-width: 1027px) {
    .support-body {
      background-size: 99%;
      background-position: -376% 12%;
    }
    .support-sales {
      padding-top: 145px;
      padding-left: 0px;
    }
    .support-left {
      padding-left: 50px;
    }
    .support-right {
      padding: 0px;
    }
    .support-form {
      input, textarea {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  
  @media (max-width: 768px) {
    .support-form input {
      background-color: rgba(0, 0, 0, 0.7);
    }
    .support-left {
      padding: 0px;
    }
    .support-form textarea {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  
  @media (max-width: 500px) {
    .support-body {
      height: auto;
    }
    .support-container {
      flex-direction: column;
      align-items: center;
    }
    .support-left h1 {
      margin-top: 0px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #e1001c;
      margin: 0 auto;
      text-align: center;
    }
    .support-sales {
      padding-top: 31px;
    }
    .support__sub-title, .support__title {
      text-align: center;
    }
    .item-text__wrap {
      padding-top: 10px;
      padding-left: 0px;
    }
    .support-sales__item {
      flex-direction: column;
      align-items: center;
    }
    .support-right__form {
      margin-top: 30px;
      p {
        text-align: center;
      }
    }
    .support-form__sub-title {
      width: 266px;
      margin: auto;
    }
    .support-container {
      width: 100%;
    }
    .support-form {
      input, textarea {
        width: 266px;
      }
      align-items: center;
    }
  }