.news-right
  ul.news-list
    li
      .item
        .item-photo(style="background-image: url('files/3.jpg')")
        .item-content
          span Photographs are a way
          | Of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the  [因
    li
      .item
        .item-photo(style="background-image: url('files/4.jpg')")
        .item-content
          span Photographs are a way
          | Of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the  [因
    li
      .item
        .item-photo(style="background-image: url('files/5.jpg')")
        .item-content
          span Photographs are a way
          | Of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the  [因
    li
      .item
        .item-photo(style="background-image: url('files/6.jpg')")
        .item-content
          span Photographs are a way
          | Of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the  [因 