.section.section1(js-data-id='1', js-data-number='01', js-data-title='Home')
    .start.js-data-content
      .container
        h1 Protect your privacy
          .anons With our fully encrypted email and data services
        ul.button
          li
            a.btn1.btn-block(href='javascript:;') GET SECURED
          li
            a.btn0.btn-block(href='javascript:;') LEARN MORE
        .application
          p Secure your email communications on the go:
          ul.app
            li
              a.btn0.btn-block(href='javascript:;')
                span.mac
                | Get iOS app
            li
              a.btn0.btn-block(href='javascript:;')
                span.android
                | Get Android app
    .scroll scroll