.section.section3(js-data-id='4', js-data-number='04', js-data-title='Team')
        .container.home__our-team
          .team-title our team
          .team-slider
            ul
              li.shadow.active
                span.team-name Alex
                span.team-position CTO
                img(src='files/team1.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li.shadow
                span.team-name Alex
                span.team-position CTO
                img(src='files/team2.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li.shadow
                span.team-name Alex
                span.team-position CTO
                img(src='files/team1.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li
                span.team-name Alex
                span.team-position CTO
                img(src='files/team2.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li
                span.team-name Alex
                span.team-position CTO
                img(src='files/team1.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li
                span.team-name Alex
                span.team-position CTO
                img(src='files/team2.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li
                span.team-name Alex
                span.team-position CTO
                img(src='files/team1.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li.shadow
                span.team-name Alex
                span.team-position CTO
                img(src='files/team2.jpg', alt='')
                span.team-quote "This is unbelievable app."
              li.shadow
                span.team-name Alex
                span.team-position CTO
                img(src='files/team1.jpg', alt='')
                span.team-quote "This is unbelievable app."
