.section(js-data-id='3', js-data-number='03', js-data-title='Solutions')
        .container.home__sectione2
          .device.js-data-content
            .device-anons Secure your individual and business collaboration by choosing our Data Services
            .device-title Unique end-to-end encrypted communications system
            .device-wrap
              .js-device
                .js-device-body.ios(data-id='device1', style='display: block')
                  .system.js-tabs
                    .system-tab
                      span Encrypted
                      ul
                        li
                          a.js-tabs-a.current(href='javascript:;', data-id='st1') Email
                        li
                          a.js-tabs-a(href='javascript:;', data-id='st2') Calendar
                        li
                          a.js-tabs-a(href='javascript:;', data-id='st3') Tasks
                        li
                          a.js-tabs-a(href='javascript:;', data-id='st4') File Storage
                        li
                          a.js-tabs-a(href='javascript:;', data-id='st5') Notes
                    .device-image
                      video(width="100%")
                        source(url="img/iOS_video.mov")
                      img(src='files/ios_mobile_site/Folder@2x.jpg', alt='')
                    .system-content
                      .system-body
                        .js-tabs-body(data-id='st1', style='display: block')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 30 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='st2')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 31 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='st3')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 32 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='st4')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 33 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='st5')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 34 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                .js-device-body.android(data-id='device2')
                  .system.js-tabs
                    .system-tab
                      span Encrypted
                      ul
                        li
                          a.js-tabs-a.current(href='javascript:;', data-id='s1') Email
                        li
                          a.js-tabs-a(href='javascript:;', data-id='s2') Calendar
                        li
                          a.js-tabs-a(href='javascript:;', data-id='s3') Tasks
                        li
                          a.js-tabs-a(href='javascript:;', data-id='s4') File Storage
                        li
                          a.js-tabs-a(href='javascript:;', data-id='s5') Notes
                    .system-content
                      .system-body
                        .js-tabs-body(data-id='s1', style='display: block')
                          ul
                            li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            li Necessitatibus, fugit, debitis. Cumque vel nihil ipsum quisquam expedita
                            li
                              | commodi enim voluptatum repellat? Qui, totam debitis excepturi minima praesentium reprehenderit cum corporis.
                        .js-tabs-body(data-id='s2')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 31 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='s3')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 32 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='s4')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 33 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                        .js-tabs-body(data-id='s5')
                          ul
                            li
                              | Use your own company domain (Business Account) or choose among 34 available domains (Individual Account)
                            li Encrypt emails and attached files and send them encrypted to any email provider
                            li
                              | Set an expiration timer for your emails so they will be automatically deleted from your and your recipient’s mailboxes after a certain time
                            li Switch between multiple email addresses within one mailbox (in development)
                  .device-image
                    img(src='files/android_mob_site/Open Note@2x.jpg', alt='')
                ul.device-app
                  li
                    a.js-device-a.current(href='javascript:;', data-id='device1') iOS
                  li
                    a.js-device-a(href='javascript:;', data-id='device2') Android