.section(js-data-id='2', js-data-number='02', js-data-title='Benefits')
    .benefits.js-data-content
      .container
        .slogan
          .slogan-up “MOST OF US HAVE NOTHING TO HIDE,
          .slogan-dn BUT WE ALL HAVE SOMETHING TO LOSE”
        .anons
          a.btn1(href='javascript:;') WATCH VIDEO
        ul.list
          li
            .post
              .post-icon
                img(src='img/ben1.svg', alt='')
              .post-title Hosted in Switzerland
              .post-text
                | Our servers are located in a former military bunker buried deep within the Swiss Alps. There your data is protected by the world’s most robust privacy laws including the Swiss Federal Data Protection Act.
          li
            .post
              .post-icon
                img(src='img/ben2.svg', alt='')
              .post-title End-to-end encryption
              .post-anons
                | All your emails and features are secured with end-to-end encryption. This means we can never put you under surveillance and even we can’t see your emails and data.
          li
            .post
              .post-icon
                img(src='img/ben3.svg', alt='')
              .post-title Data services
              .post-anons
                | We have designed dedicated encrypted Data Services (Email, Calendar, Tasks, Notes and File Storage) to protect your individual and business information.
          li
            .post
              .post-icon
                img(src='img/ben4.svg', alt='')
              .post-title No ads
              .post-anons
                | We don’t scan your emails for marketing purposes and don’t sell data to any third party. We also don’t display any ads in our apps and desktop web version.
          li
            .post
              .post-icon
                img(src='img/ben5.svg', alt='')
              .post-title Privacy by Design
              .post-anons
                | From the very beginning our platform has been engineered with privacy in mind to ensure its security and reliability and to meet all Privacy by Design requirements.
          li
            .post
              .post-icon
                img(src='img/ben6.svg', alt='')
              .post-title After-sales support
              .post-anons
                | Our support team will answer any question you may have and will assist you in any issues you might face while using our products.
        ul.app-fixed
          li
            a.btn0.btn-block(href='javascript:;')
              span.mac
              | Get iOS app
          li
            a.btn0.btn-block(href='javascript:;')
              span.android
              | Get Android app
